<h1>投稿一覧</h1>
<%= link_to '新規投稿', 'users/new'%>
<% @users.each do |user| %>
  <p>
    <%= user.name%>
    <%= user.age%>
    <%= link_to "編集", "/users/#{user.id}/edit", method: :get %>
    <%= link_to "削除", "/users/#{user.id}", method: :delete, data: {confirm: "削除しますか？"} %>
  </p>
<% end %>
